<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <!--日期選擇器-->
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/datepicker.zh-CN.js"></script>
    <!--ICON顯示-->
    <script src="https://kit.fontawesome.com/e7f08a2834.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/Asserts/css/default.css">
    <link rel="stylesheet" href="~/Asserts/css/style_pc.css" media="screen and (min-width:1200px)">
    <link rel="stylesheet" href="~/Asserts/css/style_ipod.css" media="screen and (min-width:768px) and (max-width:1199px)">
    <link rel="stylesheet" href="~/Asserts/css/style_phone.css" media="screen and (max-width:767px)">
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-md-6 offset-md-3 logo">
                <a href="index.html">
                    <img src="~/Asserts/images/logo.png" alt="伊甸logo" srcset="">
                </a>
            </div>
            <div class="col-md-3 login">
                <p>購買數量<a href="#">查看購物車</a></p>
                <p>用戶:阿葉<a href="~/Person">查看與編輯用戶資料</a></p>
            </div>
        </header>
        <main class="row">
            <div class="col-sm-12">
                <ul>
                    <li>
                        <a href="~/Menu/menuChoice/1">文具出版</a>
                    </li>
                    <li>
                        <a href="~/Menu/menuChoice/2">文創商品</a>
                    </li>
                    <li>
                        <a href="~/Menu/menuChoice/3">烘培商品</a>
                    </li>
                    <li>
                        <a href="~/Menu/menuChoice/4">線上畫廊</a>
                    </li>
                </ul>
            </div>
        </main>
        <hr>
    </div>
