<div class="container">
    <footer class="row">
        <div class="col-sm-12">
            <hr width="100%">
        </div>

        <div class="col-lg-3">
            <img src="~/Asserts/images/logo.png" alt="">
        </div>
        <div class="col-lg-8">
            <p class="mb-0">11665 台北市文山區萬美街一段55號3樓　|　TEL：02-22306670　分機：3006　|　FAX：02-22306181</p>
            <p class="mb-0">LINE ID：edenmall　|　E-MAIL：e-service@eden.org.tw</p>
            <p class="mb-0">服務時間：週一 ~ 週五　09：00 ~ 12：30　&　13：30 ~ 17：00（國定假日無服務）</p>
        </div>
        <div class="col-lg-1">
            <img src="~/Asserts/images/foooter_qr.jpg" alt="">
        </div>
    </footer>
</div>