<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="images/person.png" alt="">
            <ul>
                <li>
                    <a href="Profile">個人檔案</a>
                </li>
                <li>
                    <a href="#">信用卡</a>
                </li>
                <li>
                    <a href="Address">收貨地址</a>
                </li>
                <li>
                    <a href="Pw">修改密碼</a>
                </li>
                <li>
                    <a href="SpCar">購物車</a>
                </li>
                <li>
                    <a href="History">訂單紀錄</a>
                </li>
            </ul>
        </div>
