
@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <div class="row">
            <div class="col-12 newArriva">
                <p>新品上市 <i>NEW ARRIVA</i></p>
            </div>
        </div>
        <article class="row">
            <div class="col-sm-4">
                <img src="~/Asserts/images/20191031NEW_ARRIVA_020.png" alt="">
            </div>
            <div class="col-sm-4">
                <img src="~/Asserts/images/20191031NEW_ARRIVA_021.png" alt="">
            </div>
            <div class="col-sm-4">
                <img src="~/Asserts/images/20191108NEW_ARRIVA_022.png" alt="">
            </div>
        </article>
        
    </div>